<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main_Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <style>
        #span {
            text-align: center;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        #item_table {
            text-align: center;
            justify-content: center;
        }
    </style>
</head>
<body>
<th:block th:replace="layout/header :: header"></th:block>
<div class="container" id="span">
    <span><h1>NEW ITEM</h1></span>
</div>
<div class="container" id="item_table">
    <table class="table">
        <tr>
            <th>번호</th>
            <th>이미지</th>
            <th>카테고리</th>
            <th>소분류</th>
            <th>아이템 이름</th>
            <th>가격</th>
            <th>수량</th>
            <th>판매자</th>
            <th>조회수</th>
            <th>등록시간</th>
        </tr>
        <tr th:each="item : ${paging}">
            <td th:text="${item.id}"></td>
            <td th:if="${item.thumbnail == null}">
                <a th:href="@{|/item/${item.id}|}">
                    <img src="/img/noimg.gif" width="100px" height="100px">
                </a>
            </td>
            <td th:each="fileName : ${item.thumbnail}">
                <a th:href="@{|/item/${item.id}|}">
                    <img th:src="@{|/upload/${fileName}}" width="100px" height="100px">
                </a>
            </td>
            <td th:text="${item.itemCategory}"></td>
            <td th:text="${item.subCategory}"></td>
            <td><a th:href="@{|/item/${item.id}|}" th:text="${item.itemName}" class="nav-link"></a></td>
            <td th:text="${item.itemPrice}"></td>
            <td th:text="${item.itemCount}"></td>
            <td th:text="${item.sellerName}"></td>
            <td th:text="${item.itemHits}"></td>
            <td th:text="*{#temporals.format(item.itemCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </table>
</div>

<div class="container">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" th:href="@{/(page=1)}">
                <span> ◀ </span>
            </a>
        </li>

        <li th:class="${paging.first} ? 'disabled'" class="page-item">
            <a class="page-link" th:href="${paging.first} ? '#' : @{/(page=${paging.number})}">
                <span> ＜ </span>
            </a>
        </li>

        <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
            th:class="${page == paging.number + 1} ? 'page-item active'" class="page-item">
            <a class="page-link" th:text="${page}" th:href="@{/(page=${page})}"></a>
        </li>

        <li th:class="${paging.last} ? 'disabled'">
            <a class="page-link" th:href="${paging.last} ? '#' : @{/(page=${paging.number +2})}">
                <span> ＞ </span>
            </a>
        </li>

        <li th:class="page-item">
            <a class="page-link" th:href="@{/(page=${paging.totalPages})}">
                <span> ▶ </span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>